%h2= @listing.name

%p= @listing.description


%p Guests: #{@listing.guests}


%h4 Reviews

- @listing.reviews.each do |review|
  %p= review.description
  %br

%h4 Create new Review
=form_for([@listing, @review]) do |f|
  .field
    =f.label :description
    %br
    =f.text_area :description
  .actions
    =f.submit





  
/   - if review.user != nil 
