#container
  #hero
    / %h1#tagline Volunteer. <br><br> And in return, complimentary food <br>and lodging from your host.
    / %button.btn-large Sign Up
    %img#heropic{:alt => "hero image", :src => "http://latimesphoto.files.wordpress.com/2011/11/la-me-wwoofing08.jpg"}/
  #content
    .taglines.row
      .span3 
        %h3 travel for free
        %p This is where I put text. boat, airplane, or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movements.
      .span3
        %h3 lend a helping hand. 
        %p Travel is the movement of people between relatively distant geographical locations, and can involve travel by foot, bicycle, automobile, train, boat, airplane, or other means, with or without luggage, and can be one way or round trip. 
      .span3
        %h3 be a local
        %p Boat, airplane, or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movements.

%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
%script{:src => "javascripts/index.js"}