
%h2 Start getting nice packages!

%form
  %input{:name => "email", :type => "text", :placeholder => "email"}
  %br
  %br
  %input{:name => "password", :type => "text", :placeholder => "password"}
  %br

  %input{:name => "password", :type => "text", :placeholder => "confirm password"}